<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body{
            margin: 0;
            padding: 0;
            background-color: antiquewhite;
        }
    #carcontainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .car{
        background-color: white;
        padding: 20px;
        margin: 20px;
    }
    </style>
</head>
<body>
    <header>
        <nav style="display: flex;">

        </nav>
    </header>
<div id="carcontainer">

{% for obj in cars %}
<a href="detail/{{obj.pk}}">
<div class="car">
    <h1>{{obj.company}}</h1>
      <img src="{{obj.carimage.url}}" alt="no image">
</div>
      </a>
    {% endfor %}
</div>
    
</body>
</html>